body {
    background-color: #f8f9fa;
}
table {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
}
tr {
    border: 1px solid darkgray;
}
td{
    width: 10%;
}
tr:nth-child(odd){
    background-color: rgb(225, 225, 225);
}
.banner {
    background-color: #e9ecef;
    padding: 50px 0;
    text-align: center;
}
.card {
    margin: 20px 0;
}
.nav-links {
    margin-right: 15px;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.witaj {
    float: right;
    color: black;
}
.banner_link{
    text-decoration: none;
    color: black;
}