body {
    background-color: #f8f9fa;
}
table {
    width: 100%;
    table-layout: fixed; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
}
tr {
    border: 1px solid darkgray;
}
.col10 th{
    width: 10vw;
}
.col9 th{
    width: 11vw;
}
.col8 th{
    width: 12vw;
}
.col7 th{
    width: 14vw;
}
.col6 th{
    width: 16vw;
}
.col5 th{
    width: 20vw;
}
.col4 th{
    width: 25vw;
}
.col3 th{
    width: 33vw;
}
tr:nth-child(odd){
    background-color: rgb(225, 225, 225);
}
button {
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: lightgray;
    color: rgb(33, 33, 33);
}
button:hover{
    background-color: #e9ecef;
}
button:active{
    background-color: darkgray;
}
.banner {
    background-color: #e9ecef;
    padding: 50px 0;
    text-align: center;
}
.card {
    margin: 20px 0;
}
.nav-links {
    margin-right: 15px;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.witaj {
    float: right;
    color: black;
}
.banner_link{
    text-decoration: none;
    color: black;
}
.backHome{
    min-height: 40vh;
    padding-left: 5vw;
    display: block;
}
.backHome a{
    color: gray;
}
.backHome a:active{
    color: black;
}
.hidden {
    display: none;
}
.custom-paragraph {
    min-height: 60vh;
}
.custom-paragraph img {
    float: left;
    width: 250px;
    margin: 15px;
}
#preview {
    width: 150px;
    height: 210px;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid gray;
    border-radius: 7px;
}